#revisa .minidump .meminfo {
    width: 80%;
    font-family: monospace;
    margin-left: 2em;
    cursor: default;
}

#revisa .minidump .meminfo > div {
    padding-left: 2em;
}

#revisa .minidump .meminfo > div {
    background-color: #EEF;
}
#revisa .minidump .meminfo > div:nth-of-type(odd) {
    background-color: #DDF;
}

#revisa .minidump .meminfo > div:not(.collapse) {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#revisa .minidump .meminfo div.alloc .range {
    padding-right: 1ch;
}
#revisa .minidump .meminfo div.alloc:not(.collapse) > .range {
    display: none;
}
#revisa .minidump .meminfo div.alloc.collapse > :not(.range) {
    display: none;
}

#revisa .minidump .meminfo div.free.collapse {
    background-color: #CCC;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
#revisa .minidump .meminfo div.free.collapse * {
    display: none;
}

#revisa .minidump .meminfo div.free div {
    background-color: #CCC;
}
#revisa .minidump .meminfo div div.commit {
    background-color: #CEC;
}
#revisa .minidump .meminfo div div.reserve {
    background-color: #DFD;
}
#revisa .minidump .meminfo div div.unknown {
    background-color: #F88;
}

#revisa .minidump .memdata {
    font-family: monospace;
}

#revisa .minidump .threads {
    font-family: monospace;
}

#revisa .memview {
    font-family: monospace;
    font-size: 16px;
}

#revisa .memview .addr {
    font: inherit;
    width: 12ch;
    text-align: right;
    padding: 0px;
    border-style: none;
    background-color: #DFD;
}

#revisa .memview .addr:focus {
    background-color: #EFE;
}

#revisa .memview .data {
    margin-left: 10px;
    background-color: #EEE;
}
