#revisa .minidump .meminfo {
    width: 80%;
    font-family: monospace;
    margin-left: 2em;
    cursor: default;
}

#revisa .minidump .meminfo > div {
    padding-left: 2em;
}

#revisa .minidump .meminfo div.alloc {
    background-color: #EEF;
}

#revisa .minidump .meminfo div.alt {
    background-color: #DDF;
}

#revisa .minidump .meminfo div.free {
    background-color: #CCC;
}

#revisa .minidump .meminfo div.commit {
    background-color: #CEC;
}

#revisa .minidump .meminfo div.reserve {
    background-color: #DFD;
}

#revisa .minidump .meminfo div.unknown {
    background-color: #F88;
}

#revisa .minidump .memdata {
    font-family: monospace;
}
